/*Google imported font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*basic css reset */
*{
    box-sizing :border-box ;
    font-family: 'Roboto', sans-serif;
    margin :0 ;
    padding :0 ;
    position: relative ;
}
 a {
  text-decoration :none ;
}
a:hover{
  background :#D3822D;
}

/*disposable gif */
#gif1{
  position: relative ;
  text-align :center ;
}
#gif1 button {
  background :#f4f4f4;
  border :0;
  border-radius :50%;
  display :block ;
  height :2rem ;
  outline :none ;
  position :absolute ;
  right :-6.5rem  ;
  top :1rem ;
  width :2rem;
}

/*******************
header & nav section
*******************/
header{
  display :grid ;
  grid-template-columns :1fr 7fr 1fr 1fr;
  padding :1.5rem ;
}
header #toggler i,
header > i{
  font-size :1.5rem ;
  z-index: 1;
}
header .logo img{
  width :60%;
}
/*mobile side bar */
nav {
  background :#fff;
  display :none ;
  height :100vh ;
  left :0;
  overflow-y: scroll ;
  padding-bottom: 6rem ;
  position: fixed ;
  transition :transform 3s ease;
  top: 0;
  width :87vw;
  z-index: 3 ;
}
nav > a{display :flex ;}
nav  span {color :#111}
nav > .nav-close{padding: 0 0 0.75rem 1rem ;}
nav > .nav-close > button{
  background: transparent;
  border: 0;
  font-size :2.75rem ;
  font-weight :300 ;
  outline :none ;
}
nav > .nav-close > button~img{
  padding-left: 0.75rem ;
  width :7rem ;
}
nav .jumia-account {
  align-items: center ;
  border-top :0.5px solid #c4c4c4 ;
  display: flex ;
  font-size :0.75rem ;
  font-weight: 700 ;
  flex-direction :row ;
  justify-content: space-between ;
  padding :1rem 1rem 2rem ;
}
nav .jumia-account p{
  color :#E88411;
}
nav .jumia-account_item{
  color :#111 ;
  display :grid ;
  grid-template-columns :minmax(3rem, 15%) 2fr ;
  padding: 0 1rem 1.5rem ;}
nav .jumia-account_item i{
  font-size: 1.5rem;
  justify-self: center ;
  padding-right: 1rem ;
} 
nav .jumia-account_item i ~ p{font-weight: 300 ;} 
#our-services span {
  font-weight: 300;  
  text-decoration: underline ;
}
div.sell{
  border-top: 0.5px solid #c4c4c4 ;
  line-height: 2.5rem;
  padding-left: 1rem ;
  padding-top :1rem ;
}
div.sell a{
  color :#111;
  display :block ;
  font-weight: 300 ;
}