/*our css styling here */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f4f4f4;
    font-size: .875rem;
    
}
a{
    text-decoration: none;
    
}
img{
    padding: .8rem .8rem;
}
p{
    font-weight: 400;
    font-size: .875rem;
    padding: 8px 8px 4px 8px;
    color: #757579;
   
}
.back-to-school,
 .prime, .nokia-showcase,
 .top-brands{
    background-color: #fff;
    margin: 1rem 2rem 1rem 2rem;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.05);

}
.heading{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    background-color: #ffa500;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 3rem;
}
.heading-light{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #000;
    background-color: #fff;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    min-height: 3rem;
}
.heading .school{
    font-size: 1.25rem;
    white-space: nowrap;
    font-weight: 500;
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}
.heading .school .right{font-weight: 400;}

.heading a{
    color: #000;
    font-size: 1rem;
    font-weight: 500;
}
.school-cards{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 1rem;
    
   
}
.card{
    background-color: #ddd;
    border-radius: 4px;
    position: relative;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: all 0.3s ease-in-out;
    display: inline-block;
    border-radius: 5px;   
    width: 100%;
    margin-bottom: 2rem;
    text-transform: capitalize;

}
.card:hover {
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }

.discount {
    content: '';
    position: absolute;
    min-width: 40px;
    height: 24px;
    border-radius: 2px;
    right: 8px;
    top: 8px;
    padding: 0 4px 0 4px;
    background-color: #feefde;
    color: #f58b16;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
  }

 img{
    width: 100%;
}
.card:hover{
    background: 0 0 12px 0 rgba(0,0,0,0.12);
}
.prime-images{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
}

.prime-images img,
.nokia-showcase img,
.prime-images-mobile img{
    width: 100%;
    margin: .8rem .8rem;
}
.prime-images-mobile{display: none;}

.top-brands{
    background: #fff;
}
.first-row{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto;
    grid-gap: 2rem;
}



@media screen and (max-width: 1024px) {
    .school-cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
        text-align: center;
    }
    .prime-images img{
        display: none;
    }
    .prime-images-mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
        margin: 0;
    }
    .first-row{
        margin: 0;
    }
   
}


@media screen and (max-width: 768px) {
    
    .back-to-school,
    .prime{
        max-width: 100%;
        margin: 1rem 0 0 0;
    }
    .heading .school h2{
        font-size: 1rem;
        font-weight: 400;
    }
    .heading .school .right{
        font-weight: 400;
        white-space: wrap;
        display: none;
    }
    
    .heading a{
        color: #000;
        font-size: .8rem;
        font-weight: 500;
    }
    .school-cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 1rem;
        text-align: center;
    }
    .prime-images img{
        display: none;
    }
    .prime-images-mobile{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
        margin: 0;
    }
    .nokia-showcase,
    .top-brands{
        margin: 1rem 0 1rem 0;
    }
    .first-row{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
        grid-gap: 2rem;
    }

}