/*Google imported font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/*basic css reset */
*{
    box-sizing :border-box ;
    font-family: 'Roboto', sans-serif;
    margin :0 ;
    padding :0 ;
    position: relative ;
}
 a {
  text-decoration :none ;
}
a:hover{
  background :#D3822D;
}

/*disposable gif */
#gif1{
  max-width :70%;
  position: relative ;
  text-align :center ;
}
#gif1 img{
  width: 130%;
}
#gif1 button {
  background :#f2f2f2;
  border :0;
  border-radius :50%;
  display :block ;
  height :1.5rem ;
  outline :none ;
  position :absolute ;
  right :-5.5rem  ;
  top :1rem ;
  width :1.5rem;
}

/*******************
header & nav section
*******************/
header{
  display :grid ;
  grid-template-columns :1fr 7fr 1fr 1fr;
  padding :1.5rem ;
}
header #toggler i,
header > i{
  font-size :1.5rem ;
  z-index: 1;
}
header .logo img{
  width :50%;
}
/*mobile side bar */
nav {
  background :#fff;
  display :none ;
  height :100vh ;
  left :0;
  overflow-y: scroll ;
  padding-bottom: 6rem ;
  position: fixed ;
  transition :transform 3s ease;
  top: 0;
  width :87vw;
  z-index: 3 ;
}
nav > a{display :flex ;}
nav  span {color :#111}
nav > .nav-close{padding: 0 0 0.75rem 1rem ;}
nav > .nav-close > button{
  background: transparent;
  border: 0;
  font-size :2.75rem ;
  font-weight :300 ;
  outline :none ;
}
nav > .nav-close > button~img{
  padding-left: 0.75rem ;
  width :7rem ;
}
nav .jumia-account {
  align-items: center ;
  border-top :0.5px solid #c4c4c4 ;
  display: flex ;
  font-size :0.75rem ;
  font-weight: 700 ;
  flex-direction :row ;
  justify-content: space-between ;
  padding :1rem 1rem 2rem ;
}
nav .jumia-account p{
  color :#E88411;
}
nav .jumia-account_item{
  color :#111 ;
  display :grid ;
  grid-template-columns :minmax(3rem, 15%) 2fr ;
  padding: 0 1rem 1.5rem ;}
nav .jumia-account_item i{
  font-size: 1.5rem;
  justify-self: center ;
  padding-right: 1rem ;
} 
nav .jumia-account_item i ~ p{font-weight: 300 ;} 
#our-services span {
  font-weight: 300;  
  text-decoration: underline ;
}
div.sell{
  border-top: 0.5px solid #c4c4c4 ;
  line-height: 2.5rem;
  padding-left: 1rem ;
  padding-top :1rem ;
}
div.sell a{
  color :#111;
  display :block ;
  font-weight: 300 ;
}

/**********
search input 
**********/
div.search-input{
  border :1px solid #c4c4c4 ;
  border-radius :1.25rem;
  height:2.25rem ;
  margin :0 1rem ;
}
div.search-input > i{
  padding-top :0.5725rem;
  text-align :center ;
  width :13%;
}
div.search-input .input-field{
  border :0;
  height :90%;
  width :80%;
} 
div.search-input .input-field:focus{
  border :0;
  outline :none ;
}

/*************
slider portion
*************/
section.slider {
  margin-top: 1rem ;
  text-align: center;
  overflow: hidden;
}

.slides {
  display: flex;
  height: 10rem ;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}
.slides::-webkit-scrollbar {
  width: 0.625rem;
  height: 2px;
}
.slides::-webkit-scrollbar-thumb {
  background: #c4c4c4;
  border-radius: 1rem;
}
.slides::-webkit-scrollbar-track {
  background: transparent;
}
.slides > div {
  flex-shrink: 0;
  width: 100%;
  margin-right: 0.5rem ;
  transfom-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slides > div > img {
  border-radius:0.25rem ;
  height :10rem;
  width: 95%;
}
.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

/**********
 cash back 
**********/
section.cash-back{
  display :grid ;
  grid-template-columns :repeat(4, 1fr );
  place-items :center ;
}